* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(214, 208, 199);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin: 12px auto;
  font-size: 50px;
  font-weight: bold;
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  width: 480px;
  min-height: 480px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(26, 29, 25);
  border-radius: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.resolution-change-button,
.random-colors-button {
  display: inline-block;
  margin: 20px;
  height: 60px;
  width: 160px;
  font-size: 20px;
  background-color: gray;
}

.resolution-change-button:hover,
.random-colors-button:hover {
  background-color: greenyellow !important;
}
